.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: rgb(255, 255, 255);
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: transparent !important;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
  color: #050f0b; 
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

/* Keep the input text visible */
.MuiOutlinedInput-root {
  background-color: white !important;
  border-radius: 8px;
}
.MuiInputBase-input {
  color: #000 !important; 
  position: relative;
  z-index: 1;
}

/* Label color */
.MuiInputLabel-root {
  transition: all 0.2s ease;
}
.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-root.MuiFormLabel-filled {
  background-color: white; 
  border-radius: 8px;       
  padding: 0 4px;
  color: #5a5a5a !important;           
}

/* Focus outline */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #5000ca !important;
}

